/* ===== Apercu ===== */

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


/* ===== Apercu Mono ===== */

@font-face {
  font-family: "Apercu Mono";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Apercu-Mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* ----- MarkForMC Narrow ----- */
@font-face {
  font-family: "MarkForMC Narrow";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/MarkForMCNarrowW00-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkForMC Narrow";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/MarkForMCNarrowW00-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkForMC Narrow";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/MarkForMCNarrowW00-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ----- MarkForMC Normal width ----- */
@font-face {
  font-family: "MarkForMC";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/MarkForMC-Lt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkForMC";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/MarkForMC.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkForMC";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/MarkForMC-Med.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkForMC";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/MarkForMC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ----- TTNormsProVariable ----- */

@font-face {
  font-family: "TTNormsProVariable";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/TTNormsProVariable.woff2") format("woff2");
}

/* ===== Marianne ===== */

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Thin_Italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Light_Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Regular_Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Medium_Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-Bold_Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marianne";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/Marianne-ExtraBold_Italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}


/* ===== GT Walsheim ===== */

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-ultra-light-web.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-ultra-light-oblique-web.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-thin-web.woff2") format("woff2");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-thin-oblique-web.woff2") format("woff2");
  font-weight: 250;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-light-web.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-light-oblique-web.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-regular-web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-regular-oblique-web.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-medium-web.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-medium-oblique-web.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-bold-web.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-bold-oblique-web.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-black-web.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-black-oblique-web.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-ultra-bold-web.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("https://cdn.jsdelivr.net/gh/Dilolcyy/mes-polices@main/gt-walsheim-ultra-bold-oblique-web.woff2") format("woff2");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}


@font-face {
    font-family: Source Sans;
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff2) format("woff2"),url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff) format("woff")
}

@font-face {
    font-family: Source Sans;
    font-display: swap;
    font-style: normal;
    font-weight: 450;
    src: url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff2) format("woff2"),url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff) format("woff")
}

@font-face {
    font-family: Source Sans;
    font-display: swap;
    font-weight: 575;
    src: url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff2) format("woff2"),url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff) format("woff")
}

@font-face {
    font-family: Source Sans;
    font-display: swap;
    font-weight: 650;
    src: url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff2) format("woff2"),url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Sans.woff) format("woff")
}

@font-face {
    font-family: Source Display;
    font-display: swap;
    font-weight: 800;
    src: url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Display-Extrabold.woff2) format("woff2"),url(https://cdn.trustpilot.net/brand-assets/5.3.0/fonts/Trustpilot-Display-Extrabold.woff) format("woff")
}

